

#result_list, #letters_list {
  list-style: none;
  padding: 0px;
  li {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
  }
}
#letters_list {
  margin: 40px 120px;
}
#result_list {
  margin: 34px 45px;
}

.container {
  width: 900px;
  height: 500px;
  margin: 10px auto;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 5px #414141;
  margin: 50px 20px;
}

body {
  background-color: grey;
}

#movie_picture {
  width: 300px;
  height: 300px;
  display: inline-block;
  margin: 82px 42px;
  border-color: brown;
  border-radius: 10px;
  outline: black dotted thick;
}

#movie_title {
  float: left;
  width: 350px;
  height: 100px;
  background-color: #04ba19;
  margin: -398px 430px;
}
#letters {
  float: left;
  width: 500px;
  height: 117px;
  margin: -174px 368px;
  background-color: #0c89d8;
}

#game_options {
  width: 250px;
  height: 50px;
  background-color: green;
  display: inline-block;
  margin: -260px 159px;
  float: right;
}

#logo {
  color: red;
  display: inline-block;
}

#timer {
  color: red;
  display: inline-block;
}

#score {
  color: red;
  display: inline-block;
}
