
/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdownContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


/* Change color of dropdown links on hover */
.dropdownContent a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdownContent {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
#result_list, #letters_list {
  list-style: none;
  padding: 0px;
  li {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    font-size: 40px;
  }
}
#letters_list {
    margin: 40px 45px;
}
#result_list {
  margin: 34px 40px;
}

.container {
  width: 900px;
  height: 500px;
  margin: 10px auto;
  background-color: cornflowerblue;
  // background-image: url(../../public/assets/background.jpg);
  box-shadow: 0px 0px 5px #414141;
  margin: 50px 20px;
}

body {
  background-color: cornsilk;
}

#movie_picture {
  width: 300px;
  height: 330px;
  display: inline-block;
  margin: 82px 42px;
  border-color: brown;
  border-radius: 10px;
  outline: black dotted thick;
}

#movie_title {
  float: left;
  width: 500px;
  height: 200px;
  // background-color: #04ba19;
  margin: -398px 368px;
}
#letters {
  float: left;
  width: 500px;
  height: 200px;
  margin: -174px 368px;
  // background-color: #0c89d8;
}

#game_options {
  width: 250px;
  height: 50px;
  // background-color: green;
  display: inline-block;
  margin: -260px 159px;
  float: right;
}

#logo {
  color: red;
  display: inline-block;
}

#timer {
  color: red;
  display: inline-block;
}

#score {
  color: red;
  display: inline-block;
}
